.Article-Text {
    width: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.Article-Media {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.Article-Media > img{
    width: 100%;
}

.Article-Video {
    width: 560px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 570px) {
    .Article-Video {
        width: 280px;
        height: 157.5px;
    }
  }

@media only screen and (max-width: 500px) {
    .Article-Text {
        width: 90%;
    }

    .Article-Media {
        width: 70%;
    }
  }