.Projects-Header {
    min-height: 10vh;
    background-color: #68C0FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: white;
}

.Projects-Main {
    min-height: 90vh;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
}

.Projects-FolderRow {
    margin: 0;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Projects-Folder {
    width: 20%;
}

.Projects-Article {
    flex: 1;
}
@media only screen and (max-width: 500px) {
    .Projects-FolderRow {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Projects-Folder {
        width: 50%;
    }
  }